<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="piper_arm_macro_library">
    <!-- PiPER-X geometry from AgileX piper_x_with_gripper_description.xacro.
        Prefixing permits one front and one rear instance in a single URDF. -->
    <xacro:macro name="piper_arm" params="prefix parent mount_xyz mount_rpy legacy:=false">
      <joint name="${prefix}mount_joint" type="fixed">
        <origin xyz="${mount_xyz}" rpy="${mount_rpy}" />
        <parent link="${parent}" />
        <child link="${prefix}base_link" />
      </joint>
      <link name="${prefix}base_link">
        <inertial>
          <origin xyz="-0.00473641164191482 2.56829134630247E-05 0.041451518036016" rpy="0 0 0" />
          <mass value="1.02" />
          <inertia ixx="0.00267433" ixy="-0.00000073" ixz="-0.00017389" iyy="0.00282612" iyz="0.0000004" izz="0.00089624" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/base_link.stl" />
          </geometry>
          <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/base_link.stl" />
          </geometry>
        </collision>
      </link>
      <link name="${prefix}link1">
        <inertial>
          <origin xyz="0.00053 -0.00039 -0.00315" rpy="0 0 0" />
          <mass value="0.71" />
          <inertia ixx="0.00050027" ixy="0.00000078" ixz="0.00000626" iyy="0.00040879" iyz="0.00000462" izz="0.00045802" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link1.stl" />
          </geometry>
          <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link1.stl" />
          </geometry>
        </collision>
      </link>
      <joint name="${prefix}joint1" type="revolute">
        <origin xyz="0 0 0.123" rpy="0 0 3.1415926" />
        <parent link="${prefix}base_link" />
        <child link="${prefix}link1" />
        <axis xyz="0 0 1" />
        <limit lower="-2.618" upper="2.618" effort="100" velocity="5" />
      </joint>
      <link name="${prefix}link2">
        <inertial>
          <origin xyz="0.21856 -0.00859 0.00227" rpy="0 0 0" />
          <mass value="1.16" />
          <inertia ixx="0.00111915" ixy="0.00182916" ixz="0.00019233" iyy="0.06763251" iyz="0.00000767" izz="0.067559" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link2.stl" />
          </geometry>
          <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link2.stl" />
          </geometry>
        </collision>
      </link>
      <joint name="${prefix}joint2" type="revolute">
        <origin xyz="0 0 0" rpy="-1.5707963 -3.005806 -3.1415926" />
        <parent link="${prefix}link1" />
        <child link="${prefix}link2" />
        <axis xyz="0 0 1" />
        <limit lower="0" upper="3.14" effort="100" velocity="5" />
      </joint>
      <link name="${prefix}link3">
        <inertial>
          <origin xyz="0.2014 -0.00418 -0.00141" rpy="0 0 0" />
          <mass value="0.67" />
          <inertia ixx="0.00033471" ixy="0.00026891" ixz="0.00013918" iyy="0.03360411" iyz="0.00000052" izz="0.03356941" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link3.stl" />
          </geometry>
          <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link3.stl" />
          </geometry>
        </collision>
      </link>
      <joint name="${prefix}joint3" type="revolute">
        <origin xyz="0.28503 0 0" rpy="0 0 2.8380798" />
        <parent link="${prefix}link2" />
        <child link="${prefix}link3" />
        <axis xyz="0 0 1" />
        <limit lower="-2.967" upper="0" effort="100" velocity="5" />
      </joint>
      <link name="${prefix}link4">
        <inertial>
          <origin xyz="0.059 -0.05831 0.002" rpy="0 0 0" />
          <mass value="0.39" />
          <inertia ixx="0.00120173" ixy="0.00138165" ixz="0.00001187" iyy="0.00209324" iyz="0.00000217" izz="0.00307814" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link4.stl" />
          </geometry>
          <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link4.stl" />
          </geometry>
        </collision>
      </link>
      <joint name="${prefix}joint4" type="revolute">
        <origin xyz="0.27364 0 0" rpy="0 0 0.0806342" />
        <parent link="${prefix}link3" />
        <child link="${prefix}link4" />
        <axis xyz="0 0 1" />
        <limit lower="-1.553343" upper="1.553343" effort="100" velocity="5" />
      </joint>
      <link name="${prefix}link5">
        <inertial>
          <origin xyz="0.00005 -0.01282 -0.00429" rpy="0 0 0" />
          <mass value="0.35" />
          <inertia ixx="0.00022660" ixy="0.00000019" ixz="0.00000005" iyy="0.00017740" iyz="0.00000085" izz="0.00019425" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link5.stl" />
          </geometry>
          <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link5.stl" />
          </geometry>
        </collision>
      </link>
      <joint name="${prefix}joint5" type="revolute">
        <origin xyz="0.07466 0 0" rpy="-1.5707963 1.5707963 0" />
        <parent link="${prefix}link4" />
        <child link="${prefix}link5" />
        <axis xyz="0 0 1" />
        <limit lower="-1.553343" upper="1.553343" effort="100" velocity="5" />
      </joint>
      <link name="${prefix}link6">
        <inertial>
          <origin xyz="0 0 -0.0035" rpy="0 0 0" />
          <mass value="0.007" />
          <inertia ixx="0.00152112" ixy="0.00000202" ixz="0.00000261" iyy="0.00138626" iyz="0.00000002" izz="0.00031152" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link6.stl" />
          </geometry>
          <material name="">
            <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/link6.stl" />
          </geometry>
        </collision>
      </link>
      <joint name="${prefix}joint6" type="revolute">
        <origin xyz="0 -0.035 0" rpy="1.5707963 0 0" />
        <parent link="${prefix}link5" />
        <child link="${prefix}link6" />
        <axis xyz="0 0 1" />
        <limit lower="-2.0943951" upper="2.0943951" effort="100" velocity="5" />
      </joint>
      <link name="${prefix}gripper_base">
        <inertial>
          <origin xyz="-0.000183807162235591 8.05033155577911E-05 0.0321436689908876" rpy="0 0 0" />
          <mass value="0.45" />
          <inertia ixx="0.00092934" ixy="0.00000034" ixz="-0.00000738" iyy="0.00071447" iyz="0.00000005" izz="0.00039442" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/gripper_base.stl" />
          </geometry>
          <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/gripper_base.stl" />
          </geometry>
        </collision>
      </link>
	      <link name="${prefix}flange_link">
	        <visual>
	          <geometry>
	            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/flange.stl" />
	          </geometry>
	        </visual>
	        <collision>
	          <geometry>
	            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/flange.stl" />
	          </geometry>
	        </collision>
	      </link>
      <joint name="${prefix}flange_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="${prefix}link6" />
        <child link="${prefix}flange_link" />
      </joint>
      <joint name="${prefix}joint6_to_gripper_base" type="fixed">
        <origin xyz="0 0 0.0045" rpy="0 0 1.5707963" />
        <parent link="${prefix}flange_link" />
        <child link="${prefix}gripper_base" />
      </joint>
      <link name="${prefix}link7">
        <inertial>
          <origin xyz="0.00065123185041968 -0.0491929869131989 0.00972258769184025" rpy="0 0 0" />
          <mass value="0.025" />
          <inertia ixx="0.00007371" ixy="-0.00000113" ixz="0.00000021" iyy="0.00000781" iyz="-0.00001372" izz="0.0000747" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/gripper_link1.stl" />
          </geometry>
          <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/gripper_link1.stl" />
          </geometry>
        </collision>
      </link>
      <joint name="${prefix}joint7" type="prismatic">
        <origin xyz="0 0 0.138" rpy="1.5707963 0 0" />
        <parent link="${prefix}gripper_base" />
        <child link="${prefix}link7" />
        <axis xyz="0 0 1" />
        <limit lower="0" upper="0.05" effort="10" velocity="3" />
      </joint>
      <link name="${prefix}link8">
        <inertial>
          <origin xyz="0.000651231850419722 -0.0491929869131991 0.00972258769184024" rpy="0 0 0" />
          <mass value="0.025" />
          <inertia ixx="0.00007371" ixy="-0.00000113" ixz="0.00000021" iyy="0.00000781" iyz="-0.00001372" izz="0.0000747" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/gripper_link2.stl" />
          </geometry>
          <material name="">
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="package://agx_arm_description/agx_arm_urdf/piper_x/meshes/gripper_link2.stl" />
          </geometry>
        </collision>
      </link>
      <joint name="${prefix}joint8" type="prismatic">
        <origin xyz="0 0 0.138" rpy="1.5707963 0 -3.1415926" />
        <parent link="${prefix}gripper_base" />
        <child link="${prefix}link8" />
        <axis xyz="0 0 -1" />
        <limit lower="-0.05" upper="0" effort="10" velocity="3" />
      </joint>
    </xacro:macro>
  </robot>
